html
{
    font-family: 'Noto Sans', sans-serif;
    color: #F50057;
}

nav .navbar-brand
{
    font-size: xS-large;
}

main .form-control
{
    display: inline-block;
    width: auto;
}

main
{
    overflow-x: auto;
    text-align: center;
}

.form-group
{
    padding: 10px;
}

#submit_btn.focus
{
  outline: none;
  outline-width: 0;
}

 .too-long-forms
{
    width: 75%;
} 