{%extends "base.html"%}
{%block title%}Caduceus{%endblock%}

{%block content%}
    <div style="width: 100wh;">
        <h1>Welcome to Caduceus!</h2>
        <img src="static/home.png" alt="Two medical people walking around." style="max-height: 450px;" class="img-fluid">
        <p style="max-width: 100vw; width: 550px; margin: 0 auto; padding: 0 5px;">Caduceus is a web application built specifically for hospitals to manage their inventory, stocks, and even diagnose patients using trained AI models.</p> 
        <p style="max-width: 100vw; width: 550px; margin: 0 auto; padding: 15px 5px;">Caduceus is primed around security. We use encryption, bcrypt, and symmetric to ensure user safety.</p> 
    </div>
{%endblock%}