{%extends "base.html"%}
{%block title%}Sign Up{%endblock%}
{%block content%}
    <form method="POST">
        <input type="email" name="email" required placeholder="Email"/>
        <input type="password" required name= password placeholder="Password" id="password1"/>
        <input type="password" name= "password2"required placeholder="Confirm Password" id="password2"/>
        <button type="submit">Submit</button>
    </form>
    <button onclick="view()">Show Password</button>
    <script type="text/javascript">
        // toggles between password and text
        function view(){
            var input = document.getElementById("password1");
            var input2 = document.getElementById("password2");
            if (input.type === "password"){
                input.type = "text"
                input2.type = "text"
            }
            else{
                input.type = "password"
                input2.type = "password"
            }
        }
    </script>
{%endblock%}